@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "galano-gortesque";
  src: url("../public/fonts/galano-gortesque-md.otf");
}

@font-face {
  font-family: "cartogothic";
  src: url("../public/fonts/CartoGothicStdBook.otf");
}

@font-face {
  font-family: "cartogothic-bold";
  src: url("../public/fonts/CartoGothicStdBold.otf");
}
@layer components {
}
/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
